/* Paleta de cores
 * --charcoal: #233d4dff;
 * --pumpkin: #fe7f2dff;
 * --sunglow: #fcca46ff;
 * --olivine: #a1c181ff;
 * --zomp: #619b8aff;
*/

h1{
    font-size: 35px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 2rem;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5rem;
}

p {
    font-size: 16px;
    margin-top: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.1rem;
}

.bold {
    font-weight: bold;
    color: #262626ff;
}

/* navbar */
.navbar {
    background-color: #233d4dff;
    color: #fff;
    height: 60px;
}

a > .logo {
    height: 50px;
    position: absolute;
    top: 0;
    margin-left: 0.5rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin-top: 20px;
}
  
.nav-menu li {
    margin: 0 20px;
}
  
.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-menu a:hover {
    border-bottom: 2px solid #619b8aff;
    color: #619b8aff;
}
  
.menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #233d4dff;
    cursor: pointer;
}
  
.menu-toggle::before,
.menu-toggle::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
}
  
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #233d4dff;
        width: 100%;
        margin-top: -20px;
    }
  
    .nav-menu.active {
        display: flex;
    }
  
    .container {
        height: 60px;
        margin-right: 1rem;
        
    }
    
    .nav-menu li {
        text-align: center;
        margin: 10px 0;
    }
  
    .menu-toggle {
        display: block;
    }
}
/* fim navbar */
/* banner*/
#banner {
    height: 80vh;
    background-image: url('../img/banner-img.png');
    background-size: cover;
}

#banner-info {
    margin: 0 auto;
    text-align: center;
    color: #ffff;
    padding: 50px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner-info > img {
    height: 150px;
    border-radius: 50%;
    border: 4px solid #233d4dff;
}

#banner-info > p {
    font-size: 17px;
    background-color: #264653ff;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 18px;
}

#banner-info > h1 {
    color: #262626ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    #banner-info {
        width: 60%;
    }

    #banner-info > p {
        margin: 0;
    }
}
/* fim banner*/
/*sobre*/
#sobre {
    text-align: center;
    background-color: #2a9d8fff;
    padding: 50px 25px;
}

#sobre > h2 {
    color: #262626ff;
    margin-bottom: 20px;
}

#sobre > p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 25px;
    text-align: justify;
}

@media (max-width: 768px) {
    #sobre {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }
}
/* fim sobre*/
/* forms */

.input-group, .output-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.input-group > label, .output-group > label {
    margin-bottom: 0.4rem;
    font-weight: bold;
}

select, input {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #eeef;
}

button {
    background-color: #fe7f2dff;
    border-radius: 5px;
    border: none;
    color: #ffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
    opacity: 0.7;
    transition: 0.4;
}

button:hover {
    opacity: 1;
}

.output-group {
    margin-top: 1.2rem;
}
/* fim forms*/

/* linguagens */
#linguagens {
    width: 70%;
    height: 300px;
    display: flex;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #a1c181ff;
}

#linguagens > .container {
    width: 75%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#linguagens > h2 {
    color: #262626ff;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.linguagens-container {
    flex: 2 2 auto;
    text-align: center;
    padding: 10px 5px;
}

.linguagens-container > img {
    height: 160px;
    padding: 15px;
}

.linguagens-container > .subtitle {
    font-weight: bold;
    color: #2a9d8fff;
    margin-top: 20px;
    margin-bottom: 15px;
}

.linguagens-container > p {
    line-height: 25px;
}

@media (max-width: 768px) {
    #linguagens {
        height: 690px;
        display: block;
    }

    #linguagens > .container {
        display: block;
        flex-direction: column;
    }

    .linguagens-container > h3, .linguagens-container > .subtitle {
        font-size: 1.3rem;
    }

    .linguagens-container {
        padding: 0;
    }

    .central {
        border-top: 1px solid #dddf;
        border-bottom: 1px solid #dddf;
    }
}
/* fim linguagens*/

/* projetos */
#projetos {
    text-align: center;
    padding-top: 50px;
}

#projetos > h2 {
    color: #264653ff;
    margin-bottom: 30px;
}

.projetos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.projetos-box {
    height: auto;
    display: flex;
    flex: 1 1 200px;
    cursor: pointer;
    padding: 6px 3px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
    background-color: #2a9d8fff;
    border-right: 2px solid #264653ff;
    border-bottom: 2px solid #264653ff;
}

.projetos-box:hover {
    color: #233d4dff;
    background-color: #fcca46ff;
}

.projetos-box > a {
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 430px) {
    #projetos {
        display: flex;
        flex-direction: column;
    }
    #projetos > h2 {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .projetos-container {
        margin-bottom: 0;
        flex-direction: column;
    }

    .projetos-box {
        width: 180px;
        flex: 1 1 180px;
        margin-right: 5px;
        margin-bottom: 2rem;
    }
}

/* rodape */
#footer {
    background-color: #233d4dff;
    color: #cccf;
    padding: 20px 0;
    text-align: center;
    height: 180px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-item > p{
    margin: 5px;
}

.footer-item > p > .bold{
    color: #ffff;
}

.footer-item h3 {
    margin-bottom: 10px;
    color: #ffff;
}

.footer-item a {
    color: #fcca46ff;
}
