:root {
    /* tamanho fontes */
    --tamanho-font-padrao: 15pt;
    --tamanho-font-respon: 16pt;
    --tamanho-font-titulo-1: 30pt;
    --tamanho-font-titulo-2: 25pt;
    --tamanho-font-titulo-3: 20pt;
    --tamanho-font-titulo-pag: 40pt;
    /* paleta de cores */
    --preto: #000f;
    --branco: #ffff;
    --cinza-claro: #dddf;
    --cinza-escuro: #262626ff;
    --buff: #eaac8bff;
    --yinmn-blue: #355070ff;
    --china-rose: #b56576ff;
    --light-coral: #e56b6fff;
    --chinese-violet: #6d597aff;
    /* sombra texto e elementos */
    --sombra-texto: 2px 2px 4px rgba(34, 34, 34, 1);
    --sombra-elementos: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

h1{
    line-height: 3rem;
    font-size: var(--tamanho-font-titulo-1);
}

h2 {
    line-height: 3rem;
    font-size: var(--tamanho-font-titulo-2);
}

h3 {
    line-height: 2rem;
    font-size: var(--tamanho-font-titulo-3);
}

p, a, li, button, span, label, select, input {
    line-height: 1.5rem;
    font-size: var(--tamanho-font-padrao);
}

@media (max-width: 750px) {
    p, a, li, button, span, label, select, input{
        font-size: var(--tamanho-font-respon);
    }
}
/* estilos de fonte ----------------------------------------*/
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}
/** fim estilos de fonte /
/* forms ---------------------------------------------------*/
form {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group, .output-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

label {
    margin-bottom: 0.4rem;
    font-weight: bold;
}

select, input {
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: var(--cinza-claro);
}

button {
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    color: var(--branco);
    padding: 1rem 1.5rem;
    background-color: var(--china-rose);
}

button:hover {
    background-color: var(--light-coral);
}

.output-group {
    margin-top: 1.2rem;
}
/* fim forms */
/* navbar --------------------------------------------------*/
#navbar {
    height: 60px;
    color: var(--branco);
    background-color: var(--yinmn-blue);
}

a > .logo {
    top: 0;
    height: 50px;
    position: absolute;
    margin-left: 0.5rem;
}

#navbar .container {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-top: 20px;
}
  
.nav-menu li {
    margin: 0 20px;
}   
  
.nav-menu a {
    font-weight: 500;
    color: var(--branco);
    text-decoration: none;
}

.nav-menu a:hover {
    color: var(--light-coral);
    border-bottom: 2px solid var(--light-coral);
}
  
.menu-toggle {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    background-color: var(--yinmn-blue);
}
  
.menu-toggle::before,
.menu-toggle::after {
    content: '';
    width: 30px;
    height: 4px;
    margin: 6px 0;
    display: block;
    background-color: var(--branco);
}
  
@media (max-width: 768px) {
    .nav-menu {
        left: 0;
        top: 80px;
        width: 100%;
        display: none;
        margin-top: -20px;
        position: absolute;
        flex-direction: column;
        background-color: var(--yinmn-blue);
    }
  
    .nav-menu.active {
        display: flex;
    }
  
    #navbar .container {
        height: 60px;
        margin-right: 1rem;
        
    }
    
    .nav-menu li {
        padding: 10px 0;
        text-align: center;
        margin: 0;
    }

    .nav-menu li:hover {
        background-color: var(--light-coral);
    }
  
    .menu-toggle {
        display: block;
    }
}
/* fim navbar */
/* rodape --------------------------------------------------*/
footer {
    display: flex;
    height: 200px;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--yinmn-blue);
}

footer > .container {
    padding: 10px;
}

.footer-item > h3 {
    margin-bottom: 10px;
    color: var(--branco);
}

.footer-item > p{
    margin: 5px;
    color: var(--branco);
}

.footer-item > p > span, .footer-item > p > a{
    color: var(--light-coral);
}

.footer-item > p > a:hover {
    border-bottom: 2px solid var(--light-coral);
}