body {
    background-color: #a1c181ff;
    padding-top: 2rem;
}

.quote {
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #ffff;
    color: #ffff;
    border-radius: 0.4rem;
}

.quote > .text {
    font-style: italic;
    margin-bottom: 0.4rem;
}

.quote > .author {
    font-weight: bold;
    color: #233d4dff;
}

.button { 
    font-size: 1.4rem;
    opacity: 1;
}

.button:hover {
    background-color: #fcca46ff;
    color: #233d4dff;
}