body {
    background-color: var(--buff);
}

.quote {
    display: flex;
    height: 57.9vh;
    align-items: center;
    justify-content: center;
}

.quote-area {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 600px;
    text-align: center;
    border-radius: 1rem;
    color: var(--cinza-escuro);
    border: 2px solid var(--light-coral);
}

.quote-area > .text {
    margin-bottom: 1rem;
}

.quote-area > .author {
    margin-bottom: 1rem;
    color: var(--chinese-violet);
}

@media (max-width: 650px) {
    .quote-area {
        margin: 0 40px;
        max-width: 500px;
    }
}