#convert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.convert-container {
    width: 510px;
    margin: 50px;
    padding: 2rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--branco);
    box-shadow: var(--sombra-elementos);
}

.convert-container > h1 {
    text-align: center;
    margin-bottom: 15px;
}

#convert-btn {
    width: 70%;
}

.convert-container > .input-group, .convert-container > .output-group {
    width: 90%;
}

#message {
    font-size: var(--tamanho-font-padrao);
    color: var(--light-coral);
    margin-top: 0.7rem;
    text-align: center;
}