:root {
    --fundo-transparente: rgba(0, 0, 0, 0.8);
}
#gallery {
    margin: 50px 0;
}

h1{
    text-align: center;
    color: var(--cinza-escuro);
}

.gallery-container {
    gap: 1em; /*afasta uma imgem da outra*/
    display: flex;
    margin: 1.5rem;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 0 0 calc(33% - 10px);
}

.gallery-image {
    width: 100%;
    height: 320px;
    cursor: pointer;
    transition: 0.5s;
    object-fit: cover; /*img se adapita a área sem perder qualidade sendo esticada*/
}

.gallery-image:hover {
    transform: scale(1.2);
}

.lightbox {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    position: fixed;
    background-color: var(--fundo-transparente);
}

.lightbox-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-image {
    max-height: 560px;
    object-fit: cover;
}

.lightbox-close{
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    padding: 0.3rem;
    font-size: 2rem;
    transition: 0.5s;
    position: absolute;
    color: var(--branco);
    border: 2px solid var(--branco);
}

.lightbox-close:hover {
    background-color: var(--branco);
    color: var(--preto);
}

@media (max-width: 550px) {
    .gallery-image {
        height: 200px;
    }

    .lightbox-image {
        max-width: 90%;
    }
}