body{
    background-color: var(--cinza-escuro);
}

.clock-container {
    display: flex;
    height: 57.9vh;
    align-items: center;
    justify-content: center;
}

.clock-area {
    display: flex;
    font-size: 40pt;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-items: center;
    color: var(--branco);
    border: 2px solid var(--branco);
}

.clock-area > span {
    margin: 0 0.25rem;
}

@media (max-width: 768px) {
    .clock-area {
        padding: 2rem 2rem;
        flex-direction: column;
    }

    .clock-area > span {
        margin: 0.25rem 0;
    }

    .divider {
        display: none;
    }
}