.container {
    max-width: 50%;
    margin: 0 auto;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #dddf;
    border-radius: 10px;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #fcca46ff;
    border-radius: 10px;
    transition: width 1s ease-in-out; /*transição da largura*/
}

/* Botões de Controle*/
.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*configuração padrão dos botões no arquivo styles*/

#previous-btn {
    color: #fe7f2dff;
    border: 1px solid #fe7f2dff;
    background-color: transparent;
}

#previous-btn:hover {
    background-color: #fe7f2dff;
    color: #ffff;
}